<div id="top_page">
  <div class="text-center">
    <h1>ー ノートを迷わず見返す ー</h1>
    <h2>Welcome to the Puppet</h2>
    <%= link_to '新規会員登録へ', signup_path, class: 'btn btn-lg btn-primary' %>
  </div>
</div>