body{
  width: 100%;
  margin: 0;
  padding: 0;
  background-image: radial-gradient(#e1e1e1 10%, #ffffff 15%);
  background-size: 10px 10px;
}

.container{
  margin-top: 100px;
}

/***** nav * start *****/

header{
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 1000;
}

img {
  -webkit-user-drag: none;
}

nav{
  border-bottom: 1px solid #ccc;
}

.nav-item{
  font-size: 20px;
  margin-left: 80px;
  font-weight: bold;
}

.nav-item a{
  color: black;
}

.nav-item a.active{
  color: #00CC98;
}

.nav-item a:hover{
  color: #00CC98;
}

.nav-link i{
  margin-right: 10px;
  font-size: 30px;
}


/***** nav * end *****/


/***** user table * start *****/


table tr{
	border-bottom: 1px solid #ccc;
}

table td, table th{
	padding: 1em 1em;
	font-size: 20px;
}


/***** user table * end *****/



/***** form * start *****/

#memo_title{
	width: 100%;
	margin: 20px auto;
}

#memo_title #titleBox{
	width: 100%;
	padding: .8em;
	background-color: transparent;
	border: 0;
	border-bottom: solid 1px #1abc9c;
	background: linear-gradient(to bottom, transparent 92%, #1abc9c 8%) no-repeat;
	background-position: -750px 0;
  background-size: 750px 100%;
  font-size: 1.1rem;
	transition: all ease-in-out 0.3s;
}

#titleBox:focus, #titleBox:not(:placeholder-shown){
  background-position: 0 0;
  outline: none;
}

/***** form * end *****/


/***** index.html * start *****/


#top_page h1{
  font-size: 35px;
  margin: 20px;
}

#top_page h1 .mincho{
  font-family: "ヒラギノ明朝 ProN W3", "HiraMinProN-W3", "HG明朝E", "ＭＳ Ｐ明朝", "MS PMincho", "MS 明朝", serif;
  font-size: 35px;
  background: linear-gradient(transparent 80%, yellow 20%);
  display: inline-block;
}

#top_page h1 #keyword{
  font-size: 45px;
  font-weight: bold;
}

#top_page .btn-custom{
  background-color: #00CC98;
  color: #ffffff;
  margin: 20px;
}

#top_page .btn_list{
  font-family:"Yu Gothic", "游ゴシック", YuGothic, "游ゴシック体", "ヒラギノ角ゴ Pro W3", "メイリオ", sans-serif;
}


/***** index.html * end *****/


