<h1>id: <%= @memo.id %> のメッセージ編集ページ</h1>

<%= render 'form', memo: @memo %>

<%= link_to 'このメッセージを削除する', @memo, method: :delete, data: { confirm: '本当に削除してよろしいですか？' } %>
<%= link_to '一覧に戻る', memos_path %>