<h1>ノート一覧</h1>

<% if @memos.any? %>
  <table class="table table-hover">
    <thead>
      <tr>
        <th>タイトル</th>
      </tr>
    </thead>
    <tbody>
      <% @memos.each do |memo| %>
        <tr>
          <td><%= link_to memo.title, edit_memo_path(memo) %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% else %>
  <p>ノートがありません</p>
<% end %>